<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Registro de Valores</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/styles_rv.css}" rel="stylesheet" >

</head>
<body class="main">
	<div class="pos-f-t">
		<div class="collapse" id="navbarToggleExternalContent">
			<div class="bg p-4">
				<h4 class="text-white">Collapsed content</h4>
				<span class="text-muted">Toggleable via the navbar brand.</span>
			</div>
		</div>
		<nav class="navbar navbar-dark bg">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarToggleExternalContent"
				aria-controls="navbarToggleExternalContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>
	</div>
	<section class="formulario">
		<div class="titulo">
			<h1>Registro de Valores</h1>
		</div>
		<form class="formulario-div" th:action="@{/registro/saveValor}" th:object="${valor}" method="post" >
			<br>
			<div class="linea1">
				<div class="campo">
					<label for="nombre">Cliente</label>
					<div class="form-group">
						<select id="cliente" th:field="*{cliente.id}" class="form-control">
						
							<option th:each="cliente : ${clientes}"
									th:value="${cliente.id}" 
									th:text="${cliente.name}"
									th:selected="(${cliente.id} == *{cliente.id})"></option>
						</select>
					</div>
				</div>
				<div class="campo">
					<label for="nombre">Importe</label> <input type="text"
						class="form-control" id="importe" th:field="*{importe}">
				</div>
				<div class="campo">
					<label for="fechaEmision">Fecha Emision</label> <input type="text"
						class="form-control" id="fechaEmision" th:field="*{fechaEmision}">
				</div>
			</div>

			<div class="linea1">
				<div class="campo">
					<label for="nombre">Emisor</label> <input type="text"
						class="form-control" id="emisor" th:field="*{nombreEmisor}">
				</div>
				<div class="campo">
					<label for="nombre">Descripcion</label> <input type="text"
						class="form-control" id="descripcion" th:field="*{descripcion}">
				</div>
				<div class="campo">
					<label for="nombre">Fecha Vencimiento</label> <input type="text"
						class="form-control" id="fechaVencimiento"
						th:field="*{fechaVencimiento}">
				</div>
			</div>

			<div class="linea2">

				<div class="campo">
					<label for="nombre">Status</label>
					<div class="form-group">
						<select id="status" class="form-control" th:field="*{status}">
							<option value="">selected</option>
							<option value="Por cobrar">Por cobrar</option>
							<option value="Pagada">Pagada</option>
						</select>
					</div>
				</div>
				<div class="campo">
					<label for="nombre">Moneda</label>
					<div class="form-group">
						<select id="tipoMoneda" th:field="*{tipoMoneda.CTipoMoneda}" class="form-control">
						
							<option th:each="moneda : ${monedas}"
									th:value="${moneda.CTipoMoneda}" 
									th:text="${moneda.NTipoMoneda}"
									th:selected="(${moneda.CTipoMoneda} == *{tipoMoneda.CTipoMoneda})"></option>


						</select>
					</div>
				</div>
				<div class="campo">
					<label for="nombre">Tipo de Valor</label>
					<div>
						<select id="tipoDeValor" class="form-control" th:field="*{tipo}">
							<option value="">selected</option>
							<option value="Factura">Factura</option>
							<option value="Letra">Letra</option>
							<option value="R.honorarios">R. Honorarios</option>
						</select>
					</div>
				</div>
				<div class="button-add campo">
					<button type="submit" class="btn btn-success">Agregar</button>
				</div>
			</div>

			<div class="tabla">
				<table class="table">
					<thead>
						<tr>
							<th>Cliente</th>
							<th>Valor</th>
							<th>Descripcion</th>
							<th>Emisor</th>
							<th>F.Emision</th>
							<th>F.Vencimiento</th>
							<th>Importe</th>
							<th>Moneda</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="valor : ${valores}">
							<th th:text="${valor.cliente.name}"></th>
							<th th:text="${valor.tipo}"></th>
							<th th:text="${valor.descripcion}"></th>
							<th th:text="${valor.nombreEmisor}"></th>
							<th th:text="${valor.fechaEmision}"></th>
							<th th:text="${valor.fechaVencimiento}"></th>
							<th th:text="${valor.importe}"></th>
							<th th:text="${valor.tipoMoneda.NTipoMoneda}"></th>
							<th th:text="${valor.status}"></th>

						</tr>
					</tbody>
				</table>
			</div>

		</form>
	</section>
	<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>
</html>
