<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Estructura de cartera!</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/normalize.css}" rel="stylesheet">
<link th:href="@{/css/styles_rv.css}" rel="stylesheet">


</head>
<body class="main">
	<div class="pos-f-t">
		<div class="collapse" id="navbarToggleExternalContent">
			<div class="bg p-4">
				<h4 class="text-white">Collapsed content</h4>
				<span class="text-muted">Toggleable via the navbar brand.</span>
			</div>
		</div>
		<nav class="navbar navbar-dark bg">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarToggleExternalContent"
				aria-controls="navbarToggleExternalContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>
	</div>
	<section class="formulario">
		<div class="titulo">
			<h1>Estructura de cartera</h1>
		</div>

		<form class="formulario-div" th:action="@{/cartera}"
			th:object="${valor}" method="get">
			<br>
			<div class="linea1">
				<div class="campo">
					<label for="nombre">Cliente</label>
					<div class="form-group">
						<select id="cliente" th:field="*{cliente.id}" class="form-control">

							<option th:each="cliente : ${clientes}" th:value="${cliente.id}"
								th:text="${cliente.name}"
								th:selected="(${cliente.id} == *{cliente.id})"></option>
						</select>
					</div>
				</div>


			</div>
			<div class="linea2">
				<div class="campo2">
					<label for="nombre">Estructura de cartera al:</label> <input
						type="date" class="form-control" id="cartera">


				</div>
			</div>


			<div class="tabla">

				<table class="table">
					<thead>
						<tr>
							<th>Tipo de valor</th>
							<th>Emisor</th>
							<th>Garantia</th>
							<th>ValorizaMN</th>
							<th>ValorizaME</th>
						</tr>

					</thead>

					<tbody>
						<tr>
						<tr th:each="valor : ${valores}">
							<th th:text="${valor.tipo}"></th>
							<th th:text="${valor.nombreEmisor}"></th>
							<th th:text="${valor.garantia}"></th>
							<th th:text="${valor.importe}"></th>
							<th th:text="${#numbers.formatDecimal(valor.importe/4.1,0,'COMMA',2,'POINT')}"></th>
						</tr>
					</tbody>

				</table>
			</div>
			<div class="tabla">

				<table class="table">
					<thead>
						<tr>
							<th>Tipo de valor</th>
							<th>Emisor</th>
							<th>Garantia</th>
							<th>ValorizaMN</th>
							<th>ValorizaME</th>
						</tr>

					</thead>

					<tbody>
						<tr>
						<tr th:each="valor2 : ${valores2}">
							<th th:text="${valor2.tipo}"></th>
							<th th:text="${valor2.nombreEmisor}"></th>
							<th th:text="${valor2.garantia}"></th>
							<th th:text="${#numbers.formatDecimal(valor2.importe*4.1,0,'COMMA',2,'POINT')}"></th>
							<th th:text="${valor2.importe}"></th>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</section>

	<script>
		function std(event) {
	    this.value = parseFloat(this.value).toFixed(2);
	}  
		</script>

	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>