<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/styles_rv.css}" rel="stylesheet">
<head>
<meta charset="utf-8">
<title>Descuentos</title>
</head>
<body class="main">
	<div class="pos-f-t">
		<div class="collapse" id="navbarToggleExternalContent">
			<div class="bg p-4">
				<h4 class="text-white">Collapsed content</h4>
				<span class="text-muted">Toggleable via the navbar brand.</span>
			</div>
		</div>
		<nav class="navbar navbar-dark bg">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarToggleExternalContent"
				aria-controls="navbarToggleExternalContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>
	</div>
	<section class="formulario">
		<div class="titulo">
			<h1>Descuentos</h1>

		</div>

		<form class="formulario-div" th:action="@{/descuento}"
			th:object="${valor}" method="get">
			<br>
			<div class="linea1">
				<div class="campo">
					<label for="nombre">Cliente</label>
					<div class="form-group">
						<select id="cliente" th:field="*{cliente.id}" class="form-control">

							<option th:each="cliente : ${clientes}" th:value="${cliente.id}"
								th:text="${cliente.name}"
								th:selected="(${cliente.id} == *{cliente.id})"></option>
						</select>
					</div>
					<div class="button-add campo">
						<button type="submit" class="btn btn-success">Agregar</button>
					</div>
				</div>
			</div>

			<div class="campo">
				<label for="nombre">Tipo de cambio</label> <input type="text"
					class="form-control" id="descripcion" th:field="*{descripcion}">
			</div>

			<div class="tabla">
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>F.Emisión</th>
							<th>Tipo de Valor</th>
							<th>Emisor</th>
							<th>F.Vencimiento</th>
							<th>Días/Venc</th>
							<th>Moneda</th>
							<th>ValorizaMN</th>
							<th>ValorizaME</th>
							<th>Monto</th>

						</tr>
						<tr th:each="valor : ${valores}">
							<th><input  type="checkbox" th:onclick="'javascript:check('+ ${valor.id} +')'"></th>

							<th th:text="${valor.fechaEmision}"></th>

							<th th:text="${valor.tipo}"></th>

							<th th:text="${valor.nombreEmisor}"></th>

							<th th:text="${valor.fechaVencimiento}"></th>

							<th th:text="${valor.dia}"></th>

							<th
								th:text="${#numbers.formatDecimal(valor.importe/4.1,0,'COMMA',2,'POINT')}"></th>

							<th
								th:text="${#numbers.formatDecimal(valor.importe*4.1,0,'COMMA',2,'POINT')}"></th>

							<th th:text="${valor.importe}"></th>

							<th><input id="monto" type="text"></th>
						</tr>
				</table>

			</div>
			<div class="down_aside">
				<div id="container2">
					<div class="mytabs">
						<input type="radio" id="tabfree" name="mytabs" checked="checked">
						<label for="tabfree">TazaMN</label>
						<div class="tab">

							<hr>
							<p id="aeaxd">Valor de la taza (%)</p>
							<div class="form-check tazas">
								<input class="form-check-input" type="radio"
									name="flexRadioDefault" id="flexRadioDefault1"> Taza
								nominal <input type="text">

							</div>

							<div class="form-check tazas">
								<input class="form-check-input" type="radio"
									name="flexRadioDefault" id="flexRadioDefault2" checked>

								Taza efectiva <input type="text">

							</div>
							<div class="plaza">
								<p>Plaza de la taza</p>
								<select name="plazadelataza" id="plazadelataza">
									<option value="360">Anual</option>
								 	<option value="180">Semestreal</option>
								 	<option value="120">Cuatrimestral</option>
								 	<option value="90">Trimestral</option>
								 	<option value="60">Bimestral</option>
									<option value="30">Mensual</option>
									<option value="15">Quincenal</option>
									<option value="7">Semanal</option>
									<option value="1">Diario</option>
								</select>
							</div>

							<div class="plaza">
								<p id="titulocapi">Plaza de capitalizacion</p>
								<select name="plazadelataza" id="plazadecapitalizacion">
									<option value="1">Anual</option>
								 	<option value="2">Semestreal</option>
								 	<option value="3">Cuatrimestral</option>
								 	<option value="4">Trimestral</option>
								 	<option value="5">Bimestral</option>
									<option value="6">Mensual</option>
									<option value="7">Quincenal</option>
									<option value="8">Semanal</option>
									<option value="9">Diario</option>
								</select>
							</div>

						</div>

						<input type="radio" id="tabsilver" name="mytabs"> <label
							for="tabsilver">TazaME</label>
						<div class="tab">
							<hr>
							<p id="aeaxd">Valor de la taza(%)</p>
							<div class="form-check tazas">
								<input class="form-check-input" type="radio"
									name="flexRadioDefault" id="flexRadioDefault1"> Taza
								nominal <input type="text">

							</div>

							<div class="form-check tazas">
								<input class="form-check-input" type="radio"
									name="flexRadioDefault" id="flexRadioDefault2" checked>

								Taza efectiva <input type="text">
							</div>

							<div class="plaza">
								<p>Plaza de la taza</p>
								<select name="plazadelataza" id="plazadelataza">
									<option value="360">Anual</option>
								 	<option value="180">Semestreal</option>
								 	<option value="120">Cuatrimestral</option>
								 	<option value="90">Trimestral</option>
								 	<option value="60">Bimestral</option>
									<option value="30">Mensual</option>
									<option value="15">Quincenal</option>
									<option value="7">Semanal</option>
									<option value="1">Diario</option>
								</select>
							</div>

					


						</div>

					</div>
				</div>
				<div class="tabla2">
					<table class="table table-striped">
						<tr>
							<th></th>
							<th>ValorizaMN</th>
							<th>ValorizaME</th>
						</tr>
						<tr>
							<th>Monto Financiar</th>
							<th> </th>
							<th></th>
						</tr>
						<tr>
							<th>Tasa Comision</th>
							<th></th>
							<th></th>
							
						</tr>
						<tr>
							<th>Comision</th>
							<th></th>
							<th></th>
						</tr>
						<tr>
							<th>Monto a desembolsar</th>
							<th></th>
							<th></th>
						</tr>
					</table>
				</div>
				<div id="containerxd">
					<p>Coste efectivo anual</p>
					<form class="costeanualxd">
						<input type="text" style="width: 250px; heigth: 250px">
					</form>
					<div class="btn-group" role="group"
						aria-label="Basic outlined example">
						<button type="button" class="btn btn-outline-primary">MN</button>
						<button type="button" class="btn btn-outline-primary">ME</button>
						<button type="button" class="btn btn-outline-primary">Cancelar</button>
					</div>
					<button type="button" class="btn-salir">Salir</button>

				</div>
			</div>


		</form>

	</section>
	<script th:inline="javascript">
console.log(this.valores)
</script>

	<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>
</html>

